.body-wrapper {
    margin-top: 50px;
}

.lists-wrapper {
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(190, 190, 190), rgb(129, 175, 132));
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100%;
  }

  h1 {
    margin-top: 70px;
    margin-bottom: 50px;
    font-size: 7em;
    font-weight: bold;
    text-shadow: 0 3px 2px rgba(0,0,0);
  }

  h2 {
    font-size: 4.5em;
    font-weight: bold;
  }

  .title-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .btn-create-list{
    background: #588157;
    border-radius: 10px;
    padding: 10px 40px;
    font-weight: bold;
  }

  .btn-create-list:hover {
    background: #3a5a40 !important;
  }

  .lists-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .list-container{
    border-radius: 20px;
    background: rgb(29, 29, 29);
    padding: 20px;
    position: relative;
  }

  .description, .title-list {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
  }

  span {
    color: rgb(113, 202, 113);
    text-decoration: underline;
  }

  .button-list {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: inline-block;
    border-radius: 50%;
    background-color: green;
    color: white;
    padding: 25px 30px 25px 30px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }